<!-- <div class="row container p-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <p>User Login</p>
            </div>
            <div class="card-body">
                <form [formGroup] = "userloginForm" (ngSubmit)="proceedLogin()">
                Username:
                <input type="text" formControlName="username" class="form-control" />
                <br />
                Password:
                <input type="password" formControlName="password" class="form-control" />
                <br />
                <div>
                    <input type="submit" value="Login" class="btn btn-success" />
                   &nbsp;&nbsp;
                   <a routerLink="/userReg">New user register here!</a>
                </div>
                <div>
                    <p>{{msg}}</p>
                </div>
            </form>
            </div>
        </div>

    </div>
</div>



 -->
